@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
}

.header {
  padding-top: 10px;
  padding-left: 20px;
  font-family: 'Fira Mono', monospace;
  transform: uppercase;
}

.container { 
  margin: 0 5%;
  min-height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10%;
}

.container-element {
  height: 70%;
  width: 26em;

}

.error-img {
  display: block;
  margin: 0 auto;
  width: 23rem;
}

.error-heading {
  font-weight: 700;
  font-size: 50px;
}

.error-body {
  margin: 40px 0;
  font-weight: 400;
}

.home-btn {
  font-size: 1rem;
  letter-spacing: -1px;
  color: #fff;
  background: #424242;
  padding: 15px 30px;
  text-decoration: none;
  transform: uppercase;
}

.footer {
  position: relative;
  height: 5%;
  text-align: center;
  font-size: 1rem;

}

/* Small tablets and screens */
@media screen and (max-width: 900px) {
  .error-img {
    width: 70%;
  }
  .error-heading {
    font-size: 36px;
  }
}

/* Large smartphone */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .container-element {
    width: 100%;
  }
  
  .error-img {
    width: 75%;
  }

  .footer {
    margin-top: 60px;
  }
}
